$mainPink: #f5b7cd;
$mainPink2: #b38393;
$mainDarkPink: #ca99aa;
$mainGrey: rgb(232, 232, 232);
$mainDarkGrey: #6d6d6d;
$mainLightBlack: #212322;
$mainBlack: #0D0D0E;
$mainDarkGreen: #128049;
$mainDarkBlue: #091a25;
$mainGreen:#1a394d;
$mainBlue:#243665;