#one-game{
    margin:10px;
    display:flex;
    align-items: space-between;
    justify-content: space-between;
    .squad-box{
        width:50%;
        display:flex;
        flex-direction: column;
        #team-1-box{
            .team-1-header-box{
                margin-bottom:5px;
                font-size: 18px;
            }
            .team-1{
                display:flex;
                .number{width:30px;}
            }
        }
        #team-2-box{
            margin-top:25px;
            .team-2-header-box{
                margin-bottom:5px;
                font-size: 18px;
            }
            .team-2{
                display:flex;
                .number{width:30px;}
            }
        }
    }
    .field-box{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .field-img{
            position:relative;
            .rows{
                height:55px;
                width:100%;
                display:flex;
                justify-content: center;
                align-items: center;;
                position:absolute;
            }
            .image{
                width:330px;
                height: 440px;
            }
            #gk-1{
                top:0;
            }
            #def-1{
                top:55px;
            }
            #mid-1{
                top:110px;
            }
            #fwd-1{
                top:165px;
            }
            #fwd-2{
                top:220px;
            }
            #mid-2{
                top:275px;
            }
            #def-2{
                top:330px;
            }
            #gk-2{
                top:385px;
            }
            .pl1{
                background: black;
                color:white;
                border-radius:50%;
                width:30px;
                height:30px;
                margin:0 20px;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            .pl2{
                background: #f5b7cd;
                color:black;
                border-radius:50%;
                width:30px;
                height:30px;
                margin:0 20px;
                display:flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
