  .game-stat-box{
        width:30%;
        .stat-box{
            #stat-1-box{
                width:200px;
                border: 1px solid white;
                .bar{
                    fill:white;
                }
            }
            #stat-2-box{
                
            }
        }
    }