#one-game{
    margin:10px;
    display:flex;
    align-items: space-between;
    justify-content: space-between;
    .squad-box{
        width:50%;
        display:flex;
        flex-direction: column;
    }
    .field-img{
        display:flex;
        align-items:center;
        justify-content: center;
        img{
            width:100%;
            height: 400px;
        }
    }
}
