.game-stat-box{
    width:260px;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:10px;
    .game-stat-title{
        font-size:18px;
        // color:$mainDarkGrey;
    }
    .stat-box{
        width:100%;
        padding:20px 5px;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        .scoreBox{
            width:100%;
            display:flex;
            align-items:center;
            justify-content: space-between;
            margin-top:5px;
            margin-bottom:20px;
            padding:2px;
            .teamHome{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .teamLogo{
                    width:80px;
                    img{
                        width:100%;
                    }
                }
                .teamName{
                    font-size:18px;
                    margin-bottom: 10px;
                    text-align: center;
                }
                .teamScore1{
                    font-size:26px;
                    width: 40px;
                    text-align: center;
                    border: 1px solid white;
                }
                .teamScore2{
                    font-size:26px;
                    width: 40px;
                    text-align: center;
                    border: 1px solid white;
                }
            }
        }
        .who-scored-box{
            width:100%;
            display:flex;
            align-items:flex-start;
            justify-content: space-between;
            margin-bottom: 40px;
            .goal-scorer{
                font-weight: 300;
                color:$mainGrey;
            }
        }
        .stat-name{
            margin-bottom: 10px;;
        }
        #possProgress {
            width: 100%;
            background-color: $mainPink;
            border-radius: 10px;
            #poss {
                width: 1%;
                height: 15px;
                background-color:white;
                border-right: 7px solid $mainBlack;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        #shotsOnProgress {
            width: 100%;
            background-color: $mainPink;
            border-radius: 10px;
            #shotsOn {
                width: 1%;
                height: 15px;
                background-color:white;
                border-right: 7px solid $mainBlack;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        #shotsOffProgress {
            width: 100%;
            background-color: $mainPink;
            border-radius: 10px;
            #shotsOff {
                width: 1%;
                height: 15px;
                background-color:white;
                border-right: 7px solid $mainBlack;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        #foulsProgress {
            width: 100%;
            background-color:$mainPink;
            border-radius: 10px;
            #fouls {
                width: 1%;
                height: 15px;
                background-color:white;
                border-right: 7px solid $mainBlack;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        #ycProgress {
            width: 100%;
            background-color: $mainPink;
            border-radius: 10px;
            #yc {
                width: 1%;
                height: 15px;
                background-color:white;
                border-right: 7px solid $mainBlack;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
}




