.main-box{
    display:flex;
    justify-content: space-between;
    margin-top:15px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    height:560px;
    width:1100px;
    box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.3);
    .left{
        width:250px;
        background:$mainGrey;
        color:$mainBlack;
        padding-top:20px;
        .league-box{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .country-box{
                width:100%;
                display:flex;
                align-items: center;
                justify-content: center;
                .name{
                    margin-right:10px;
                }
                .flag img{
                    width:30px;
                }
            }
            .league-name{
                margin-top:70px;
                margin-bottom: 10px;;
                font-size:20px;
                font-weight:500;
            }
            .logo-box{
                width:100%;
                text-align: center;
                img{
                    width:90%;
                }
            }
            .season-box{
                margin-top:10px;
            }
        }
    }
    .center{
        width:100%;
        .section-name{
            display:flex;
            align-items: center;
            justify-content: space-around;
            margin: 15px 0 30px;
            padding-bottom: 15px;;
            border-bottom: 1px solid #ebebeb;
            .roundPrev{
                &:hover{
                    cursor: pointer;
                }
            }
            .roundCurr{
                font-size:18px;
            }
            .roundNext{
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .fixture-box{
            display:flex;
            align-items: center;
            justify-content: center;
            width:100%;
            margin:10px 0;
            transition: all 0.3s;
            &:hover{
                cursor: pointer;
                background:$mainGrey;
            }
            .team1-box{
                width:300px;
                display:flex;
                justify-content: flex-end;
                align-items: center;
                margin-right:10px;
                .name{
                    width:100%;
                    text-align: end;
                    margin-right:8px;
                    font-size:18px;
                }
                .logo{
                    img{
                        width:30px;
                    }
                }
            }
            .vs{
                color:$mainLightBlack;
                font-size:14px;
            }
            .score-box{
                display:flex;
                .score{
                    background:$mainLightBlack;
                    color:white;
                    width:25px;
                    height:30px;
                    margin:1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;;
                }
            }
            .team2-box{
                display:flex;
                width:300px;
                justify-content: flex-start;
                align-items: center;
                margin-left:10px;
                .name{
                    width:100%;
                    text-align: start;
                    margin-left:8px;
                    font-size:18px;
                }
                .logo{
                    img{
                        width:30px;
                    }
                }
            } 
        }
    }
    .right{
        background: $mainPink;
        .league-standing{
            width:250px;
            display:block;
            .name{
                margin:auto;
                margin-top:15px;
                margin-bottom:10px;
                font-size:18px;
                text-align: center;
                border-bottom:4px $mainBlack solid;
                width:50%;
            }
            .header{
                display:flex;
                align-items: center;
                color:$mainDarkGrey;
                font-weight:300;
                font-size: 14px;
                .pos{
                    margin-left:30px;
                }
                .team-name{
                    margin-left:10px;
                }
                .points{
                    margin-left:138px;
                }
            }
            .team-standing-box{
                font-size:15px;
                margin: 2px 15px 10px;
                .team-standing-row{
                    border-bottom: 1px solid $mainDarkPink;
                    margin: 2px;
                    margin-bottom:4px;
                    display:flex;
                    justify-content: space-between;
                    .team-rank-box{
                        .team-rank{
                            width:20px;
                            text-align: end;
                            margin-right:10px;
                        }
                        display:flex;
                    }
                }
            }
        }
    }
}