.modal-v {
  display: none; 
  position: fixed; 
  z-index: 10; 
  padding-top: 150px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  /* Modal Content */
  .modal-v-content {
    position:relative;
    margin: auto;
    padding: 20px;
    width: 760px;
    -webkit-animation-name: animate2;
    -webkit-animation-duration: 0.6s;
    animation-name: animate2;
    animation-duration: 0.6s;
    border-radius:10px;
    background: $mainLightBlack;
    color:white;
    /* The Close Logic */
    .close-v {
      color: white;
    //   float: right;
      font-size: 50px;
      font-weight: 300;
      transition: 0.1s all ease;
      position: absolute;
      right:20px;
      top:0;
      &:hover,
      &:focus {
        color: $mainPink;
        text-decoration: none;
        cursor: pointer;
      }
    }

    // VOTE MODAL CONTENT
    #modal-v-box{
        .teams-row{
            display:flex;
            align-items: center;
            .btn-box{
                width:180px;
                margin:10px;
                #voteNum{
                    background:white;
                    padding:8px 12px;
                    font-size: 18px;
                    width:100%;
                    &:hover{
                        cursor: pointer;
                        background:$mainPink;
                    }
                }
            }
        }
    }

  }
}

/* Add Animation */
@-webkit-keyframes animate2 {
  from {opacity:0} 
  to {opacity:1}
}

@keyframes animate2 {
  from {opacity:0}
  to {opacity:1}
}

