.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:$mainBlack;
    color:rgb(255, 255, 255);
    height:60px;
    padding: 30px 30px 10px;
    letter-spacing:0.8px;
    .logo-box{
        font-size:24px;
        font-weight:600;
        letter-spacing:0.5px;
    }
    .links{
        display:flex;
        div{
            margin-left:20px;
            font-weight: 300;
        }
    }
    
}