.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#0D0D0E;
    color:white;
    height:60px;
    padding: 25px 30px 10px;
    .logo-box{
        font-size:20px;
        font-weight:600;
    }
    .links{
        display:flex;
        div{
            margin-left:10px;
        }
    }
    
}